[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}


html, body, #wrapper {
  height: 100%;
}


#wrapper {
  min-width: 1200px;
}


.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


.thumbnail {
  height: 200px;

  img.pull-mid {
    width: 50px;
  }
}


$nav_height: 50px + 1px + 20px;

$question_height: 200px;


#question {
  height: $question_height;

  #timer {
    height: $nav_height - 10px;
    margin: 0 15px;
    margin-top: 0.25 * $question_height;
  }
}


#left, #mid, #right {
  // Adjust for the navbar.
  height: calc(100% - 2*#{$nav_height} - #{$question_height});
}


#left {
  $choose_lang_height: 50px;

  #choose-lang {
    height: $choose_lang_height;
  }

  .btn {
    width: 150px;
  }

  .ace_editor {
    height: calc(100% - #{$choose_lang_height});
  }
}


#mid {
  #tests, #term {
    height: 50%;
  }

  #tests {
    .tab-content {
      padding: 2rem 0;
    }
  }

  #term {
    term {
      display: block;
      height: 100%;
      ._term-wrapper {
        height: 100%;
      }
      ._term {
        display: block;
        height: 100%;

        div.jquery-console-inner {
          height: 100%;
          background: #333;
          padding: 0.5em;
          overflow: auto;
        }

        div.jquery-console-prompt-box {
          color: #fff;
          font-family: monospace;
        }

        div.jquery-console-focus span.jquery-console-cursor {
          background: #fefefe;
          color: #333;
          font-weight: bold;
        }

        div.jquery-console-message-error {
          color: #ef0505;
          font-family: sans-serif;
          font-weight: bold;
          padding: 0.1em;
        }

        div.jquery-console-message-value {
          color: #1ad027;
          font-family: monospace;
          padding: 0.1em;
        }

        div.jquery-console-message-type {
          color: lighten(#52666f, 30%);
          font-family: monospace;
          padding: 0.1em;
        }

        span.jquery-console-prompt-label {
          font-weight: bold;
        }
      }
    }
  }
}


#right {
  overflow-y: auto;
  #users {
    display: flex;
    flex-direction: column;

    $user_height: 75px;
    $identicon_height: 48px;

    padding-top: 0.5*$user_height;

    user {
      flex: 1;
      display: flex;
      height: $user_height;

      .user-pic, .user-name, .user-score {
        flex: 1;
        > * {
          display: block;
          position: relative;
          top: 50%;
          transform: translateY(-50%);
        }
      }

      .user-pic {
        max-width: $identicon_height;
      }

      .user-name {
        padding-left: 20px;
      }

      .user-score {
        padding-right: 10px;
      }

    }
  }
}


#footer {
  height: $nav_height;
  #footer-inner {
    line-height: $nav_height;
  }
}


div.console {
  font-size: 18px;
}


.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity:0;
  height:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
  height:40px;
}

